<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de restablecimiento de contraseña</title>
    <link rel="stylesheet" href="/css/styless_login.css">
</head>
<body>
    <div class="logo-container">
        <a href="./public/ConectarLab.html"></a>
        <img src="images/1080x1920 EDUCARLAB Chaco_Gris.png" alt="Logo" class="logo">
    </div>

    <div class="container">
        <h2>Solicitud de restablecimiento de contraseña</h2>
        <form id="requestPasswordResetForm">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit" class="btn">Enviar</button>
            <div class="error-message" id="errorMessage"></div>
        </form>
    </div>

    <script>
        document.getElementById('requestPasswordResetForm').addEventListener('submit', async function(e) {
    e.preventDefault();

    var email = document.getElementById('email').value;
    var data = { email: email };

    try {
        // Cambiar la URL a '/sendResetPasswordEmail' en lugar de '/resetPassword'
        const response = await fetch('http://localhost:3000/users/sendResetPasswordEmail', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        if (response.ok) { // Comprobando si la respuesta fue exitosa
            document.getElementById('errorMessage').innerText = "Correo de restablecimiento enviado!";
        } else {
            const responseData = await response.json();
            document.getElementById('errorMessage').innerText = responseData.data || 'Error al enviar la solicitud.';
        }
    } catch (error) {
        console.error('Error:', error);
        document.getElementById('errorMessage').innerText = 'Error al enviar la solicitud. Intenta nuevamente.';
    }
});
    </script>
    
</body>
</html>
